body {
    font: 500 15px/1.8 Lato, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #ff7;
  /*  background-image: url(../images/bcg1.jpg); */
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 3px;
    font-size: 35px;
    color: #000;
    padding-top: 50px;
}
h5 {
  font-size: 25px;
}
p{
  font-size: 20px;
  padding: 50px;
  padding-top: 25px;
}
.container {

}

@media (max-width:600px) {
  .container {
    /*  padding: 25px; */
  }
  h3, h4 {
      margin: 5px 0 10px 0;
      font-size: 25px;
      color: #000;
  }
}
.sadrzaj{
  background-color: #ddd;
  opacity: 0.9;
  padding: 0;
  margin: 0;
/*   background-image: url(../images/bcg1.jpg); */

}

.sadrzaj .tekst {
  height: auto;
  margin: 0;
  background-color: #ff7;
  color: black;
  padding: 25px;
  border-top: solid 1px #777;
  border-bottom: solid 1px #777;
  box-shadow: 0px 0px 75px 15px #ff7;
/*  background-image: url(../images/bcg1.jpg); */
}

@media (max-width: 600px) {

}

.slide{
  padding: 0;
  margin-top: 50px;
}
@media (max-width: 1025px) {
  .slide{
    margin-top: 100px;
  }
}
@media (max-width: 760px) {
  .slide{
    margin-top: 50px;
  }
}
.carousel-inner img {
    width: 100%;

}

.nav-tabs li a {
    color: #777;
}
.navbar {
    font-family: calibri;
    margin-bottom: 0;
    background-color: #000;
  /*  background-image: url(../images/bcg1.jpg); */
    border-bottom: solid 3px #777;
    font-size: 21px !important;
    opacity: 0.7;

}
.navbar-brand {
font-size: 50px;
}

@media (max-width: 600px) {
  .navbar-brand {
  font-size: 35px;
  }

}
@media (max-width: 420px) {
  .navbar-brand {
  font-size: 23px;
  }

}
.navbar ul{
  margin-right: 5px;
}
.navbar li a, .navbar .navbar-brand {
    color: #ff7 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #000 !important;
}
.dropdown-menu{
  background-color: #000;
}
.dropdown-menu li a {
    color: #ff7; !important;
}
.dropdown-menu li a:hover {
    background-color: #333 !important;
}

.footer {
    background-color: #000;
    opacity: 0.9;
    color: #ff7;
    padding: 25px;
    text-align: center;
  /*  background-image: url(../images/bcg1.jpg); */

}
.footer a {
    color: red;
}
.footer a:hover {
    color: #777;
    text-decoration: none;
}
.fitem {
  text-align: center;
  padding-bottom: 15px;
}

.fitem img{
  padding: 3px;
}

.clanovi{
  margin: 50px;
  width: auto;
  height: auto;
  background-color: black;
  opacity: 0.9;
  padding: 25px;
  border: solid 1px black;
  border-radius: 10px;

}
.clan {
  width: 25%;
  height: auto;
  background-color: black;
  padding: 15px;



}
.clan img {
  width: 80%;
  border: solid 1px yellow;
  border-radius: 10px;
}
.clanovi h5{
  color: yellow;
}

@media (max-width: 820px) {
  .clanovi {
    margin: 20px;
    padding: 15px;
  }
  .clan {
  width: 50%;
  }

}
@media (max-width: 520px) {
  .clan {
  width: 100%;
  }

}
